@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root{
    
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    
}
body {
    --var-top-gradient: #060E20;
    --var-bot-gradient: #0D9EDF;
  
    background: linear-gradient(180deg, var(--var-top-gradient) 0%, var(--var-bot-gradient) 90%);
    background-repeat: no-repeat;
    background-size: cover;
}
